
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #1E90FF;
    margin: 0;
    padding: 0 10px;
    line-height: 60px;
}

nav {
    text-align: center;
    border-bottom: 1px solid darkgrey;
}

.command-row {
    display: flex;
    justify-content: space-around;
}

.command-column {
    width: 40%;
}

.command-item {
    padding: 10px 20px;
    border: 2px solid purple;
}

.command-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 10px 20px;
}

.command-item > * {
    margin: 0;
}
