
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #1E90FF;
    margin: 0;
    padding: 0 10px;
    line-height: 60px;
}

nav {
    border-bottom: 1px solid darkgrey;
}

.command-item {
    border: 2px solid purple;
}

.command-item > * {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
